#mainDiv{
	width:80%;
	height:960px;
	margin:0 auto;
	}
.headersection{
	width:100%;
	height:85px;
	background:#2F2D2E;
	color:#fff;
	}
.hlogo{
	width:10%;
	height:85px;
	float:left;
	}
.htitle{
	width:90%;
	height:85px;
	float:left;
	}
.headersection h2{
	font-family:AdorshoLipi;
	padding:10px;
	}
.navsection{
	background:#9B999A;
	width:100%;
	height:40px;
}
.navsection ul{
	margin:0;
	padding:0;
	list-style:none;
}
.navsection ul li{
	display:block;
	float:left;
}
.navsection ul li a{
	display:block;
	background:#fff;
	text-decoration:none;
	padding:5px 30px;
	background:#2F2D2E;
	margin:5px;
	font-weight:bold;
	color:#E6E6E6;
}
.navsection ul li a:hover{
	background:white;
	color:blue;
}
.contain{
	width:100%;
	height:530px;
	}
.ma{
	background: #d9d9d9;
	margin: 5px 5px 5px 0px;
	width: 32.5%;
	height: 530px;
	float: left;
}
	
.ma h3{
	padding:10px;
	}
.ma p{
	padding:10px;
	}
.mb{
	background: #adcde4;
	margin: 6px;
	width: 32.5%;
	height: 530px;
	border: 5px;
	float: left;
	}
.mb h3{
	padding:10px;
	}
.mb p{
	padding:10px;
	}
.mc{
	background: #d9d9d9;
	margin: 5px 0px 5px 5px;
	width: 32.5%;
	height: 530px;
	float: left;
	}
.mc h3{
	padding:10px;
	background: #2F2D2E;
	color: #FFFFFF;
	margin: 10px;
	color: #fff; 
	border-bottom: 2px solid #fff;
	}
.mc p{
	padding:10px;
	}
.footer{
	width:100%;
	height:55px;
	margin:5px 0px 0px 0px;
	background:#555555
	}
.footer p {
	padding: 10px;
	text-align: center;
	color: white;
	font-size: 25px;
}
.wins{
	background:#d9d9d9;
	width:100%;
	height:960px;
}
/* Branch page css */
.brabchnam{
	width:40%;
	
}
.brabchnam ul li{
	list-style:none;
	display:inline;
}


.brabchnam ul li a {
	display: block;
	background: #fff;
	text-decoration: none;
	padding: 5px 30px;
	background: #2F2D2E;
	margin: 5px;
	font-weight: bold;
	color: #E6E6E6;
}
.brabchnam ul li a:hover{
	background:pink;
	color:blue;